* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-shadow: 6px 6px 12px rgba(0,0,0,0.4);
}

header a {
    color: black;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0px;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.4);
    background: #fff;
    z-index: 2;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    text-decoration: none;
}

header nav li {
    display: inline;
    margin: 2vw;
}

#fullpage {
    color: white;
}

.section img {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-85%, -50%);
    height: 60%;
    width: 50%;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.4);
    border-radius: 8px;
}

.section h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    font-size: 64px;
}

.link-group {
    display: flex;
}

.link-group a {
    color: rgb(226, 225, 225);
    margin-right: 2vw;
    margin-top: 4vh;
    font-size: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;
    height: 100vh;
    justify-content: center;
    align-items: left;
    margin-left: 8vw;
}

.info h2 {
    font-size: 48px;
}

.info h3 {
    font-size: 32px;
}

.info p {
    margin-top: 4vh;
    font-size: 24px;
}

.home {
    background: linear-gradient(to right top, #fc4a1a, #f7b733);
    height: 100vh;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home h6 {
    font-size: 110px;
}

.home p {
    font-size: 64px;
}

#pane {
    z-index: 3;
}

.pathfinder {
    background: linear-gradient(to right top, #8360c3, #2ebf91);
}

.classroom {
    background: linear-gradient(to right top, #0F2027,#203A43, #2C5364)
}

.trackback {
    background: linear-gradient(to right top, #000000, #434343)
}