* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0px;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.4);
    background: #fff;
    z-index: 2;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    text-decoration: none;
}

header nav li {
    display: inline;
}



section {
    height: 100vh;
    color: white;
}



.home {
    background: linear-gradient(to right top, #FF4E50,#F9D423)
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}





.projects {
    background: linear-gradient(to right top, #8360c3, #2ebf91);
}

.projects h1 {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -130%);
    font-size: 48px;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

.card-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    color: black;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 5px 8px 10px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3 {
    font-size: 25px;
}

.contact {
    background: linear-gradient(to right top, #11998e, #38ef7d)
}

.contact h1 {
    position: absolute;
    top: 230%;
    left: 50%;
    transform: translate(-50%, -230%);
    font-size: 48px;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}
